[mysqld]

# MySQL数据文件存储目录
# datadir=/var/lib/mysql/

# 临时目录设置  
# tmpdir=/var/lib/mysql_3306_tmp  
# slave-load-tmpdir=/var/lib/mysql_3306_tmp

# 默认端口设置
port=3306

# 表名用小写保存到硬盘上，并且表名比较时不对大小写敏感。应在所有平台上将该变量设置为1，强制将名字转换为小写。
lower_case_table_names=1

# 服务器的默认字符集设置
character_set_server=utf8

# 默认服务器校对规则设置，新数据库或数据表的默认排序方式。
collation-server=utf8_bin

# 设定默认的事务隔离级别.可用的级别如下:
# READ-UNCOMMITTED, READ-COMMITTED, REPEATABLE-READ, SERIALIZABLE
transaction_isolation=READ-COMMITTED

# 二进制日志文件前缀配置。这些路径相对于datadir。
# log_bin=/var/lib/mysql_3306_binlog/mysql-bin
log_bin_trust_function_creators=1
binlog_format=ROW
binlog_cache_size=4M
# max_binlog_cache_size = 256M
# max_binlog_size = 1024M

# 开启慢日志监控设置
slow_query_log=on
# 查询超过2秒的视为慢查询，记录日志
long_query_time=2
# 慢日志文件名
slow_query_log_file=mysqld-slow.log

# 建表或修改表时,指定的存储引擎不可用，会报错。
# STRICT_TRANS_TABLES模式：严格模式，进行数据的严格校验，错误数据不能插入，报error错误。
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# MySQL服务器同时处理的数据库连接的最大数量
max_connections=3000

# 连接等待超时时间，服务器关闭非交互连接之前等待活动的秒数。
wait_timeout=31536000
# 事务交互超时时间，服务器关闭交互式连接前等待活动的秒数。
interactive_timeout=31536000

explicit_defaults_for_timestamp = true

symbolic_links = 0

log_timestamps=SYSTEM

max_allowed_packet = 128M
max_connect_errors = 1000000

###########主库配置###########
server_id=131

##########innodb 配置#########
# InnoDB 存储引擎的表数据和索引数据的最大内存缓冲区大小。可以设置为机器物理内存大小的70%~80%
innodb_buffer_pool_size=6G

# 日志缓存的大小
innodb_log_buffer_size=16M

# 在每个事务提交时，日志缓冲被写到日志文件，并且对日志文件做向磁盘刷新的操作。
innodb_flush_log_at_trx_commit=2

# 允许多表空间，InnoDB存储每个新创建的表到它所属的数据库目录下的文件tbl_name.ibd里。
innodb_file_per_table=on

# 设置一个日志组中每个日志文件的大小，通常设置为256M。
innodb_log_file_size=256M

# 设置使用多少个日志文件，通常来说2~3是比较好的。
innodb_log_files_in_group=3

# 查询缓冲常被用来缓冲 SELECT 的结果并且在下一次同样查询的时候不再执行直接返回结果.
# 打开查询缓冲可以极大的提高服务器速度, 如果你有大量的相同的查询并且很少修改表.
# 查看 “Qcache_lowmem_prunes” 状态变量来检查是否当前值对于你的负载来说是否足够高.
# 注意: 在你表经常变化的情况下或者如果你的查询原文每次都不同,
# 查询缓冲也许引起性能下降而不是性能提升.
query_cache_size=128M

# 指定用于索引的缓冲区大小，增加它可得到更好的索引处理性能。
# 注意：该参数值设置的过大反而会是服务器整体效率降低！
key_buffer_size=128M

# 此缓冲被使用来优化全联合，通过 “Select_full_join” 状态变量查看全联合的数量
join_buffer_size=4M

# 排序缓冲，查看 “Sort_merge_passes” 状态变量
sort_buffer_size=4M

# 随机读取数据缓冲区使用内存，通过 “read_rnd_buffer_size” 参数所设置的内存缓冲区
read_rnd_buffer_size=4M

# 增加一张临时表的大小
tmp_table_size=200M
max_heap_table_size=200M

table_open_cache=5000

# 不使用高速缓存区来存放主机名和IP地址的对应关系。 
skip_host_cache

# 不把IP地址解析为主机名; 与访问控制(mysql.user数据表)有关的检查全部通过IP地址行进。
skip_name_resolve

# 启用事件调度功能   
event-scheduler=on
